* {
  margin: 0px;
  padding: 0px;
  color: aliceblue;
}
body {
  background-image: url(/background.jpg);
  background: rgb(9, 36, 205);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.815) 0%,
    rgba(0, 0, 0, 0.596) 100%,
    rgb(0, 0, 0) 100%
  );
}
header {
  background: rgba(255, 255, 255, 0.603);
  background: linear-gradient(90deg, rgb(0, 0, 0) 2%);
  padding: 10px;
}

nav {
  position: absolute;
  right: 959px;
  font-size: 2em;
}

ul,
li {
  list-style: none;
}
.blognav {
  font-style: none;
}

.blognav:hover {
  background: rgb(9, 36, 205);
  border: 2px;
  border-style: groove;
  border-radius: 10px;
}

.home-nav:hover {
  background: rgb(9, 36, 205);
  border: 2px;
  border-style: groove;
  border-radius: 10px;
}

.read-more-blog-1 {
  border: 2px black;
  border-style: groove;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 18px;
}

.read-more-blog-1:hover {
  background: rgb(9, 36, 205);
  border: 2px;
  border-style: groove;
  border-radius: 10px;
}

.about {
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}

.about-me-paragraph {
  text-align: center;
  font-size: 19px;
  height: auto;
}

.blog1 {
  text-align: center;
}

.blog-1-para {
  text-align: center;
  font-size: 20px;
}
.blog-ember {
  text-align: center;
  font-size: 3vh;
}

img {
  align-self: center;
}

.home-to-nav:hover {
  background: rgb(9, 36, 205);
}

.blog-ember {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
