body {
  font-family: "Courier New", Courier, monospace;
}
header {
  display: flex;
  background-color: rgb(52, 51, 51);
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.main-title h1 {
  flex: 1;
  font-size: 2vh;
}

.blogtitle {
  text-align: center;
  flex: 1;
}

.home-nav {
  font-family: "Courier New", Courier, monospace;
}

nav,
ul,
li,
.blognav,
.home-nav {
  display: flex;
  color: white;
  text-decoration: none;
  left: 15vh;

  text-align: center;
  font-size: 3vh;
}

.blognav:visited {
  color: red;
}

.blognav,
.home-nav:hover {
  background-color: black;
  color: red;
  height: 3vh;
  border: 1px inset red;
}

.blog-container {
  display: flex;
  height: auto;
  width: auto;
}

.about {
  text-align: center;
  font-size: 3vh;
  font-family: "Courier New", Courier, monospace;
}

.about-me-paragraph {
  text-align: center;
  font-size: 2.4vh;
  font-family: "Courier New", Courier, monospace;
  width: auto;
}
.read-more-blog-1 {
  color: black;
}

.read-more-blog-1:hover {
  background-color: black;
  color: whitesmoke;
  border: 1px inset red;
}

.blog2-container {
  display: flex;
  height: auto;
  width: auto;
}

.blog1 {
  text-align: center;
  font-size: 3vh;
  font-family: "Courier New", Courier, monospace;
}

.blog-1-para {
  text-align: center;
  font-size: 2.4vh;
  font-family: "Courier New", Courier, monospace;
}

.container-ember {
  font-family: "Courier New", Courier, monospace;
}

.ember-title {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.blog-ember p {
  text-align: center;
  font-size: 2.5vh;
}
