body {
  background-color: lightslategray;
  color: white;
}

header {
  background-color: wheat;
  height: 50px;
}

nav,
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  font-size: 40px;
  position: fixed;
  left: 900px;
  margin: 0px;
  padding: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

a:hover {
  background-color: lightslategray;
  color: black;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-left: 1px;
  left: 20px;
  position: fixed;
  top: -10px;
}

.about {
  text-align: center;
  text-decoration: underline;
}

.aboutmepara {
  font-size: 25px;
  border: black;
  border-style: groove;
  border-radius: 90px;
  text-decoration: none;
  height: auto;
  text-align: center;
}
